.send {
    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.inner-send form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    margin: 0 auto;
    gap: 30px;
}

.first-part {
    width: 100%;
}

.tb1 {
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px 49px;
}

.second-part {
    max-width: 387px;
    width: 100%;
}

.tb2 {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 59px 130px 336px 130px;
}

.MuiGrid-spacing-xs-8>.MuiGrid-item {
    padding: 50px 0px !important;
}

.MuiDropzonePreviewList-image {
    padding: 10px;
}

.linput {
    max-width: 700px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #737373;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;

}

.amt {

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.MuiDropzoneArea-root {
    margin-top: 10px;
    width: 100%;
    border: groove !important;
    min-height: 50px !important;
    border-radius: 5px !important;
    background-color: #fff;
    border: 1px solid #737373 !important;
    margin-bottom: 30px;
}

.MuiDropzoneArea-icon {
    display: none !important;
}

.MuiTypography-h5 {

    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 20px;
    color: #737373;
}

.MuiDropzoneArea-text {
    margin: 0px !important;
    padding: 10px;
}

.msg {
    margin-top: 10px;
    max-width: 700px;
    width: 100%;
    height: 150px;
    border: 1px solid #737373;
    border-radius: 5px;
    padding: 10px;
}

.chbtn {
    width: 20px;
    height: 20px;
    border: 1px solid #272727;
}

.chstudent {
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #272727;
}

.sright {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}

.aright {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    padding-right: 50px;
}

.tright {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* btn-link -section  */
.s-btn {
    max-width: 300px;
    width: 100%;
    height: 45px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background: linear-gradient(91.02deg, #00C6F9 0%, #0083DC 100%);
    border-radius: 2px;
}

.btn-link-inner {
    max-width: 1209px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin: 50px auto;
}

.view {
    color: #0083DC;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    margin: auto 0;
}


/* second - part section  */

.info {
    max-width: 363px;
    width: 100%;
}

.des {
    max-width: 363px;
    width: 100%;
}

.tab-notice,
.tbl-tr,
.tab-notice td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 30px 10px;
    text-align: center;
}

.tbl-tr th {
    padding: 30px 10px 30px 30px;
}

.hntc {
    border: none;
    background: none;
    margin: 50px 0;
}

.tbl {
    border-bottom: 1px solid black;
}

.tbl th {
    padding: 30px 0 30px 40px;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #737373;
}

.tab-notice {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 55px 19px;
}


.abc td {
    border-bottom: 1px solid black;
    width: 110px;
    word-wrap: break-word;
}

.edit {
    border: none;
    background: white;
}

.edit button {
    border: none;
    background: none;
}

.tab-notice {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.update-part {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.first-part-update {
    max-width: 756px;
    width: 100%;
}

.second-part-update {
    max-width: 260px;
    width: 100%;
}

.modal-dialog {
    width: 100%;
    max-width: 1200px !important;

}

.tb1-update {
    padding: 50px 28px;
    text-align: center;
}

.tb2-update {
    padding: 76px 126px 249px 7px;
}

.btn-upd {
    max-width: 150px;
    width: 100%;
    height: 50px;
    background: linear-gradient(91.02deg, #00C6F9 0%, #0083DC 100%);
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    border: none;
    color: #fff;
}

.modal {
    --bs-modal-header-border-color: none;
    --bs-modal-footer-border-color: none;
}

.tb1 .MuiDropzoneArea-root {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
}

.tb1 input {
    border: 1px solid;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    margin: 10px 0 0 0;
}

.only-accepts {
    font-size: 14px;
    color: red;
    margin: 0 auto;
}

.tb1-update input {
    border: 1px solid;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    margin: 10px 0 30px 0;
}

.null-class {
    width: 60px;
}

.dust {
    cursor: pointer;
    padding: 0;
    padding-right: 30px !important;
    font-size: 30px;
}

.tblgroup {
    width: 120px;
}

.tbldate {
    width: 154px;
}

/* Responsive */

@media screen and (max-width: 1562px) {
    .tb1 {
        padding: 43px 69px;
    }

    .first-part {
        max-width: 701px;
        width: 100%;
    }

    .tab-notice {
        max-width: 1100px !important;
        width: 100%;
    }

    .tab-notice,
    .tbl-tr,
    .tab-notice td {
        border-bottom: 1px solid black;
        border-collapse: collapse;
        padding: 20px 0;
    }

    .btn-link-inner {
        max-width: 1078px;
        width: 100%;
    }


}

@media screen and (max-width: 1470px) {
    .tb1 {
        padding: 30px;
    }

    .first-part {
        max-width: 648px;
        width: 100%;
    }

    .tb2 {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 44px 135px 250px 130px;
    }

    .tab-notice {
        max-width: 990px !important;
        width: 100%;
    }

    .tab-notice,
    .tbl-tr,
    .tab-notice td {
        border-bottom: 1px solid black;
        border-collapse: collapse;
        padding: 18px 0;
    }

    .btn-link-inner {
        max-width: 979px;
        width: 100%;
    }

    .modal-dialog {
        width: 100%;
        max-width: 1083px !important;
    }

    .tb1-update {
        padding: 50px 45px 50px 0px;
    }

    .tb2-update {
        padding: 75px 70px 249px 63px;
    }

    .send-update {
        margin-left: 60px;
    }


}

@media screen and (max-width: 1470px) {
    .first-part {
        max-width: 560px;
        width: 100%;
    }

    .inner-send {
        max-width: 1010px;
        width: 100%;

    }

    .second-part {
        max-width: 362px;
        width: 100%;
    }

    .tb2 {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 72px 106px 225px 105px;
    }

    .himg img {
        width: 60px !important;
    }


}

@media screen and (max-width: 1305px) {
    .first-part {
        max-width: 502px;
        width: 100%;
    }

    .inner-send {
        max-width: 900px;
        width: 100%;

    }

    .MuiTypography-h5 {
        font-size: 17px !important;
    }

    .second-part {
        max-width: 337px;
        width: 100%;
    }

    .modal-dialog {
        width: 100%;
        max-width: 905px !important;
    }

    .modal-content {
        padding: 30px 0;
        border-radius: 10px;
    }

    .tb1-update {
        padding: 50px 45px 31px 0px;
    }
}

@media screen and (max-width: 1225px) {
    .second-part {
        max-width: 280px;
        width: 100%;
    }

    .tb2 {
        padding: 48px;
    }

    .amt {
        font-size: 15px;
    }

    .chstudent {
        font-size: 17px;
    }

    .chbtn {
        width: 21px;
        height: 18px;
    }

    .send {
        font-size: 18px;
    }

    .tab-notice {
        width: 100%;
    }

    .tab-notice,
    .tbl-tr,
    .tab-notice td {
        border-bottom: 1px solid black;
        border-collapse: collapse;
        padding: 10px 0;
    }

    .btn-link-inner {
        max-width: 736px;
        width: 100%;
    }

    .s-btn {
        max-width: 248px;
        width: 100%;
    }

    .himg img {
        width: 100px !important;
    }
}

@media screen and (max-width: 1167px) {
    .first-part {
        max-width: 438px;
        width: 100%;
    }

    .MuiTypography-h5 {
        font-size: 14px !important;
    }

    .MuiDropzoneArea-text {
        margin: 0px !important;
        padding: 14px;
    }

    .amt {
        font-size: 14px;
    }

    .send {
        font-size: 16px;
    }

    .chstudent {
        font-size: 18px;
    }

    .second-part {
        max-width: 264px;
    }

    .tb2 {
        padding: 90px 70px 219px 64px;
    }

    .inner-send {
        max-width: 763px;
        width: 100%;
    }

    .tbldate {
        width: 115px;
    }

}

@media screen and (max-width: 1088px) {

    .tblgroup {
        width: 80px;
    }

    .dust {
        font-size: 20px !important;
    }

    .first-part {
        max-width: 398px;
        width: 100%;
    }

    .MuiTypography-h5 {
        font-size: 13px !important;
    }

    .amt {
        font-size: 13px;
    }

    .tb2 {
        padding: 98px 30px 218px 30px;
    }

    .chbtn {
        width: 18px;
        height: 14px;
    }

    .second-part {
        max-width: 200px;
    }

    .tab-notice {
        max-width: 641px !important;
        width: 100%;
    }

    .tab-notice,
    .tbl-tr,
    .tab-notice td {
        border-bottom: 1px solid black;
        border-collapse: collapse;
        padding: 11px 0;
    }

    .view {
        color: #0083DC;
        font-style: normal;
        font-weight: 500;
        font-size: 17px !important;
    }

    .btn-link-inner {
        max-width: 630px;
        width: 100%;
    }

    .s-btn {
        max-width: 210px;
        width: 100%;
    }

    .s-btn {
        max-width: 300px;
        width: 100%;
        height: 41px;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }

    .s-btn {
        max-width: 200px;
        width: 100%;
    }

    .inner-send {
        max-width: 666px;
        width: 100%;
    }

    .null-class {
        width: 0px;
    }
}