.studentid_cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.studentid_cnt h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    color: #28A7E8;
}

.studentid_cnt h3 span {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.studentid_cnt .studentid_create {
    border: 1px solid #737373;
    border-radius: 2px;
    width: 250px;
    height: 50px;
    padding: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #737373;
    text-align: center;
    cursor: pointer;
    background: transparent;
}

.studentid_detail {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 60px;
}

.studentid_detail button {
    width: 100%;
    height: 50px;
    padding: 15px 65px 15px 25px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #737373;
    background: transparent;
    border: 1px solid #737373;
    border-radius: 2px;
    margin-bottom: 30px;
    text-align: left;
}

.studentid_detail button a {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.studentid_detail button a.edit_btn {
    right: 50px;
}

.studentid_detail button a.delete_btn {
    right: 25px;
}

.modal-dialog {
    width: 100%;
    max-width: 900px;
}

.modal-content {
    border-radius: 10px;
}

.generateid_form{
    padding: 40px;
}

.modal-content .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    outline: none;
    box-shadow: none;
}

.editid_modal .input_part {
    text-align: left;
    margin-bottom: 30px;
}

.editid_modal .input_part label {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #272727;
    margin-bottom: 7px;
}

.editid_modal .input_part input {
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    outline: none;
    font-size: 19px;
    line-height: 21px;
    padding: 5px 0;
}

.editid_modal .save_part {
    text-align: right;
}

.editid_modal .save_part .save_btn {
    background: linear-gradient(91.02deg, #00C6F9 0%, #0083DC 100%);
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 14px;
    width: 150px;
    height: 46px;
    text-align: center;
    border: none;
}

.editid_modal .file_input {
    position: relative;
    border-bottom: 1px solid #000000;
    padding-bottom: 7px;
}

.editid_modal .file_input .browse_btn {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    width: 120px;
    height: 38px;
    background: linear-gradient(91.02deg, #00C6F9 0%, #0083DC 100%);
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    border: none;
}

.generateid_modal .input_part {
    text-align: left;
    margin-bottom: 30px;
}

.generateid_modal .input_part label {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #272727;
    margin-bottom: 7px;
}

.generateid_modal .input_part input {
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    outline: none;
    font-size: 19px;
    line-height: 21px;
    padding: 5px 0;
}

.generateid_modal .save_part {
    text-align: right;
}

.generateid_modal .save_part .save_btn {
    background: linear-gradient(91.02deg, #00C6F9 0%, #0083DC 100%);
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 14px;
    width: 150px;
    height: 46px;
    text-align: center;
    border: none;
}

.generateid_modal .file_input {
    position: relative;
    border-bottom: 1px solid #000000;
    padding-bottom: 7px;
}

.generateid_modal .file_input .browse_btn {
    position: absolute;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    width: 120px;
    height: 38px;
    background: linear-gradient(91.02deg, #00C6F9 0%, #0083DC 100%);
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    border: none;
    margin: 0;
    cursor: pointer;
}

.display-flex-photos {
    display: flex;
    gap: 50px;
}

.any-options {
    padding: 10px 70px;
    font-size: 15px;
    border-radius: 5px;
}


.teacherid_img {
    border: 2px solid #000000;
}

.teacherid_img img {
    height: 100%;
    max-height: 300px;
    padding: 8px;
}

.teacherid_img video {
    height: 100%;
    max-height: 300px;
    padding: 8px;
}

.photos_detail{
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    
}