.container-fluid {
    padding: 0 40px;
}

.main-content {
    display: flex;
}

.inner-main-content {
    width: calc(100% - 280px);
}

.navbar~.inner-main-content {
    width: calc(100% - 10px);
}

.main-name {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    color: #28A7E8;
    padding: 50px 0px;
}

.main-upper-dashboard {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1209px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;

}

.first-student {
    background: #28A7E8;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 400px;
}

.second-student {
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.first-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.first-left-side p {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    color: #FFFFFF;
}

.first-left-side span {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #FFFFFF;
}

.second-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.second-left-side p {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    color: #272727;
}

.second-left-side span {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #737373;
}

.first-left-side img {
    width: 100%;
    max-width: 70px;
}

.second-left-side img {
    width: 100%;
    max-width: 70px;
}

.first-right-side .first .CircularProgressbar .CircularProgressbar-trail {
    stroke: #737373 !important;
}

.first-right-side .first .CircularProgressbar .CircularProgressbar-path {
    stroke: #FFFFFF !important;
}

.first-right-side .first .CircularProgressbar .CircularProgressbar-text {
    fill: #000 !important;
}

.example {
    width: 130px;
}

.aandn {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1209px;
    width: 100%;

}

.attendance {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 592px;
}

.noticeboard {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    max-width: 592px;
    width: 100%;
}

.select-side {
    max-width: 592px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

.Attendance-part {
    max-width: 592px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

.drop {
    border: none;
    width: 93px;
    outline: none;
}

.sec-inner {
    padding: 14px 22px;
    border: 1px solid #737373;
    border-radius: 5px;
    max-width: 150px;
    width: 100%;
}

.inner-flex {
    margin-bottom: 30px;
}

.ntc {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    color: #272727;
}

.note-inner button {
    padding: 14px 42px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #737373;
    border: 1px solid #737373;
    border-radius: 5px;
    background: white;
}
.sports-inner2{
    word-wrap: break-word;
}
.note-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sports-inner {
    max-width: 530px;
    width: 100%;
    padding: 15px 11px;
    background: #28A7E8;
    border-radius: 5px;
    margin-bottom: 30px;
}

.spt {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    color: #FFFFFF;
}

.spt2 {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    color: #28A7E8;
}

.spt-info2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #272727;
}

.spt-inner2 {
    max-width: 530px;
    width: 100%;
    padding: 15px 11px;
    border: 1px solid #737373;
    border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.spt-info {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.scls {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;

    color: #FFFFFF;
}

.cl {
    margin-bottom: 8px;
}

.de-class {
    text-align: right;
}

.clr {
    color: #737373;
    ;
}

.v-all {
    text-align: center
}

.v-all button {
    border: none;
    background: none;
    color: #28A7E8;
}

.v-all button svg {
    width: 24px;
    height: 23px;
    margin-bottom: 4px;

}

.event-fees-part {
    margin: 0 auto;
    max-width: 1209px;
    width: 100%;
    gap: 20px;
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
}

.event-inner-sec {
    max-width: 798px;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 28px;

}

.hday {
    max-width: 274px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 14px 174px 14px 13px;
}

.hday p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #272727;

}

.lst-info {
    display: flex;
    justify-content: space-between;
}

.fees-inner-sec {
    max-width: 387px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 27px 14px;
}

.u-event {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    color: #272727;
    margin-bottom: 30px;
}

.e1 {
    /* max-width: 320px; */
    width: 100%;
    padding: 12px 18px 16px 18px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.das-event-calender {
    max-width: 274px !important;
    width: 100%;
    border: none;
}

.das-calender .das-events_calender .react-calendar {
    border: none;
}

.das-calender .das-events_calender .react-calendar__tile--active {
    background: #28A7E8;
    color: white;
    width: 10px;
    height: 41px;
    border-radius: 100%;
}

.das-calender .das-events_calender button,
input,
optgroup,
select,
textarea {
    font-size: 15px;
}

.das-calender .das-events_calender .react-calendar__navigation__prev2-button {
    display: none;
}

.das-calender .das-events_calender .react-calendar__navigation__next2-button {
    display: none;
}

.das-calender .das-events_calender .react-calendar__month-view__weekdays {


    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #272727;
}

.das-calender .das-events_calender .react-calendar__navigation__label__labelText--from {
    font-size: 20px;
    color: #28A7E8;

}

.das-calender .das-events_calender .react-calendar__navigation__label {
    text-align: left;
}

.das-calender .das-events_calender .react-calendar__navigation__prev-button {
    position: absolute;
    margin-left: 150px;
    margin-top: 9px;
    font-size: 29px;
    color: #28A7E8;
}

.das-calender .das-events_calender .react-calendar__navigation__next-button {
    margin-left: 182px;
    margin-top: 9px;
    position: absolute;
    font-size: 29px;
    color: #28A7E8;
}

.das-calender .das-events_calender .react-calendar__month-view__days__day--weekend {
    color: #272727;
}

.das-calender .das-events_calender .react-calendar__viewContainer {
    max-width: 274px;
    width: 100%;
}



.event-cel {
    /* max-width: 382px; */
    width: 100%;
    background: #28A7E8;
    border-radius: 10px;
    padding: 35px 31px;
}

.fees-part-inner {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 39px 46px 23px 42px;
    max-width: 798px;
    width: 100%;
}

.das-calender .das-events_calender .react-calendar {
    max-width: 328px;
    width: 100%;
}

.spt-p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #28A7E8;
}


.s-date p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #737373;
}

.st {
    margin-bottom: 10px;
}

.e1 {
    margin-bottom: 30px;
}

.v-all1 {
    text-align: center;
    margin-right: 135px;
    margin-top: 10px;
}

.v-all1 button {
    border: none;
    background: none;
    color: #28A7E8;
}

.v-all1 button svg {
    width: 24px;
    height: 23px;
    margin-bottom: 4px;

}

.pendding-fees-part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.v-all12 {
    margin-top: 10px;
    text-align: center;
}

.v-all12 button {
    border: none;
    background: none;
    color: #28A7E8;
}

.v-all12 button svg {
    width: 24px;
    height: 23px;
    margin-bottom: 4px;

}

.fi1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #737373;
}

.fi2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #737373;

}

.fi3 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #737373;
}

.fi4 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border: none;

}

.flinner {

    align-items: center;
    display: flex;
    justify-content: space-between;
}

.flinner img {
    border-radius: 100px;
    margin-right: 10px;
}

.r-ven {
    margin: 0 !important;
}

.notification-btn {
    padding: 13px 8px;
    border: 2px solid #28A7E8;
    background: none;
    color: #28A7E8;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;

}

/* Responsive */

@media only screen and (max-width: 1559px) {
    .select-side {
        max-width: 540px;
        width: 100%;
    }

    .noticeboard {
        max-width: 551px;
        width: 100%;
    }

    .fees-part-inner {
        max-width: 706px;
        width: 100%;
    }

    .das-calender .das-events_calender .react-calendar {
        max-width: 259px;
        width: 100%;
    }

    .event-cel {
        max-width: 333px;
        width: 100%;
    }

    .spt-p {
        font-size: 13px;
    }

    .e1 {
        max-width: 320px px;
        width: 100%;
        padding: 11px 18px 10px 11px;
    }
}

@media only screen and (max-width: 1489px) {
    .first-student {
        padding: 17px;
        gap: 0px;
        width: 310px;
    }

    .second-student {
        padding: 17px;
        gap: 0px;
        width: 310px;
    }

    .example {
        width: 100px;
    }

    .select-side {
        max-width: 508px;
        width: 100%;
    }

    .noticeboard {
        max-width: 515px;
        width: 100%;
    }

    .fees-part-inner {
        max-width: 642px;
        width: 100%;
    }

    .das-calender .das-events_calender .react-calendar {
        max-width: 243px;
        width: 100%;
    }

    .event-cel {
        max-width: 292px;
        width: 100%;
    }

    .event-cel {
        max-width: 382px;
        width: 100%;
        background: #28A7E8;
        border-radius: 10px;
        padding: 31px 18px;
    }

    .event-cel {
        max-width: 287px;
        width: 100%;
    }

    .spt-p {
        font-size: 11px;
    }

    .e1 {
        max-width: 320px px;
        width: 100%;
        padding: 10px 13px 10px 9px;
    }


}

@media only screen and (max-width : 1407px) {
    .select-side {
        max-width: 470px;
        width: 100%;
    }

    .noticeboard {
        max-width: 485px;
        width: 100%;
    }

    .fees-part-inner {
        padding: 39px 26px 23px 21px;
    }
}

@media only screen and (max-width : 1357px) {
    .event-fees-part {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media only screen and (max-width : 1332px) {
    .select-side {
        max-width: 446px;
        width: 100%;
    }

    .noticeboard {
        max-width: 459px;
        width: 100%;
    }

    .spt-info {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
    }

    .spt-info2 {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
    }

}

@media only screen and (max-width : 1279px) {
    .aandn {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 1199px) {
    .main-upper-dashboard {
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media only screen and (max-width:1342px) {}

@media only screen and (max-width:1214px) {
    .aandn {
        display: flex;
        gap: 20px;
        flex-flow: row wrap;
        /* flex-direction: column; */
        justify-content: center;
        /* margin: 50px auto; */
        max-width: 1209px;
        width: 100%;
        margin: 50px auto;
    }

    .sec-inner {
        padding: 11px 12px;
        max-width: 119px;
        width: 100%;
    }

    .inner-flex p {
        font-size: 23px;
    }

    .ntc {
        font-size: 23px;
    }

    .note-inner button {
        padding: 9px 36px;
        height: 46px;
        font-size: 18px;

    }

    .sports-inner {
        max-width: 530px;
        width: 100%;
        padding: 12px 8px;
    }

    .spt-info {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
    }

    .scls {
        font-size: 9px;
    }

    .spt-inner2 {
        max-width: 530px;
        width: 100%;
        padding: 10px 8px;
    }



}