.main-name span {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.examschedule_add {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    color: #737373;
    text-align: center;
    width: 130px;
    height: 44px;
    padding: 12px;
    border: 1px solid #737373;
    border-radius: 2px;
    background: transparent;
    position: absolute;
    right: 50px;
    top: 185px;
}

.examschedule_table {
    width: 100%;
}

.examschedule_table th,
.examschedule_table td {
    padding: 23px 0px 23px 25px;
}

.examschedule_table td select,
.examschedule_table td input {
    padding-bottom: 10px;
    border-bottom: 1px solid #000 !important;
    border: none;
    width: 100%;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #737373;
}

.examschedule_table thead tr {
    background: linear-gradient(90.2deg, #00C5F9 0%, #0084DC 100%);
    border-radius: 10px 10px 0px 0px;
}

.examschedule_table thead tr th {
    color: #FFFFFF;
}

.examschedule_t_data {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-bottom: 40px;
}

.examschedule_t_data .examschedule_save {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 12px;
    width: 250px;
    height: 45px;
    background: linear-gradient(91.02deg, #00C6F9 0%, #0083DC 100%);
    border-radius: 2px;
    text-align: center;
    border: none;
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}

.examschedule_delete {
    border: none;
    background: transparent;
}