.subject-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.subject-table tbody th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.subject-table tbody td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.subject-table tr:nth-child(even) {
    background-color: #dddddd;
}

.sTable_title {
    font-size: 20px;
    font-weight: 500;
}

.sTable_title input {
    width: 100%;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 0;
}